<div class="item">
  <div class="item__image">
    <img src="image.png" alt="GitHub Logo" />
  </div>
  <div class="item__description">
    <h3 class="item__title">task manager</h3>
    <p class="item__text">A short description of what this project is about. It higA short description of what this project is about. It higA short description of what this project is about. It higA short description of what this project is about. It higA short description of what this project is about. It higA short description of what this project is about. It higA short description of what this project is about. It higA short description of what this project is about. It higA short description of what this project is about. It higA short description of what this project is about. It highlights its main features or benefits.</p>
    <ul class="item__tools">
      <li>Angular</li>
      <li>NgRx</li>
      <li>TypeScript</li>
    </ul>
    <a href="#" class="item__link">View Project</a>
  </div>
</div>
