.links {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 40px;

  img {
    width: 46px;
  }
}

@media (max-width: 767px) {
  .links {
    gap: 10px;

    img {
      width: 13px;
    }
  }
}
