.container {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  position: sticky;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  right: 0;

  &__left {
    &--title {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__right {
    display: flex;
    nav ul {
      display: flex;
      list-style: none;
      li {
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
        font-weight: 600;
      }
    }
    img {
      cursor: pointer;
    }
  }
}
