.container {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  position: sticky;
  backdrop-filter: blur(10px);
  top: 0;


  &__left {
    font-size: 24px;
    font-weight: bold;

  }

  &__right {
    display: flex;
    nav {
      width: 300px;
      margin-right: 20px;

      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        li {
          font-size: 20px;
          cursor: pointer;
          font-weight: 600;
        }
      }
    }
    img {
      cursor: pointer;
    }
  }
}
