.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  font-family: "Arial", sans-serif;

  &__me {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial Arabic", Arial, sans-serif;
    flex-direction: column;

    &--title {
      font-size: 3.5rem;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 1rem;
    }

    &--desc {
      max-width: 43rem;
      font-size: 18px;
      line-height: 1.8;
      font-weight: 400;
      font-family: "Inter", sans-serif;
    }
  }
.clr{
    color: #007292;
;}
}
.skills {
  padding: 2rem;
  text-align: center;

  &__title {
    font-size: 2rem;
    // color: #a478e3;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px 0 0;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
}
