<div class="about">
  <div class="about__container">
    <h1 class="about__title">
      who <span class="clr">am</span> i <span class="clr">?</span>
    </h1>
    <p class="about__desc">
      I'm Tamta, an Angular developer from Tbilisi, Georgia. I specialize in creating responsive, high-performance web applications that prioritize exceptional user experiences. Proficient in Angular, TypeScript, and state management with NgRx, I develop scalable and maintainable solutions. With a passion for staying updated on emerging technologies, I blend technical expertise with a user-focused approach to deliver innovative and impactful applications.
    </p>
  </div>

  <section class="skills">
    <h2 class="skills__title">My Skillset</h2>
    <div class="skills__grid">
      @for (skill of skills; track skill) {
      <app-skill-item [skill]="skill" [themeMode]="currentMode$ | ngrxPush" />
      }
    </div>
  </section>
</div>
