<div class="about">
  <div class="about__me">
    <div class="about__me--title">who i  <span class="clr">am</span></div>
    <p class="about__me--desc">
      Hi, I’m Tamta from Tbilisi, Georgia. I’m an Angular developer currently
      working at Komoeki, where I focus on building high-performance,
      user-friendly web applications. I’m passionate about creating dynamic and
      responsive websites and always eager to learn and grow in the tech
      industry.
    </p>
  </div>



<section class="skills">
  <h2 class="skills__title">My Skillset</h2>
  <div class="skills__wrapper">
    @for (skill of skills; track skill) {
    <app-skill-item [skill]="skill" [themeMode]="currentMode$ | ngrxPush">
    </app-skill-item>
    }
  </div>
</section>
