<div class="cotainer">
  <span>Hi, </span> <br />
  <span>I'M <span class="fullname">TAMTA KOPADZE</span> </span> <br />
  <span id="typingText">{{ displayedText }}</span>

  <div class="intro-text">
    <p>
      I'm passionate about building user-centric web applications. As an Angular developer, I focus on creating seamless, efficient, and responsive applications that deliver exceptional performance across devices.
    </p>
  </div>


  <div class="get-in-touch">
    <h2>Get in Touch</h2>
    <p>
      I'm always open to new opportunities, collaborations, and questions. Feel free to reach out if you'd like to discuss a project, need assistance, or just want to connect. I'm excited to hear from you!
    </p>
    @for(menu of footerMenu ; track menu){
      <app-footer-link-item [links]="menu.links" />
      }
  </div>

</div>
