<div class="cotainer">
  <span>Hi, </span> <br />
  <span>I'M <span class="fullname">TAMTA KOPADZE</span> </span> <br />
  <span id="typingText">{{ displayedText }}</span>

  <!-- <div class="cotainer__text">
    I build high-performance, scalable web applications using Angular, focused
    on delivering seamless, user-friendly experiences. With a passion for clean
    code and efficient design, I create solutions that are not only visually
    appealing but also robust and easy to maintain.
  </div> -->


  <div>
    <span>Get in touch</span>

  </div>
</div>
