.container {
  padding: 30px 120px 0;
  font-family: 'Roboto', sans-serif;
  .head {
    font-size: 100px;
    font-weight: bold;

  }
  .name {
    background: linear-gradient(90deg, #007292, #1a2e50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  #typingText {
    border-right: 2px solid #3b82f6;
    padding-right: 14px;
    animation: blinkCursor 1s step-end infinite; 
    font-size: 85px;
    font-style: oblique;
    font-family: 'Quicksand', sans-serif;

  }

  @keyframes blinkCursor {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: #3b82f6;
    }
  }

  .intro-text {
    max-width: 45rem;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #2d3748;
    margin-top: 50px;

    animation: fadeIn 1.5s ease-in-out forwards;
  }



  .get-in-touch {
    max-width: 48rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.6;
      margin-bottom: 1.5rem;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
