<div class="container">
  <div class="container__head">
    <span>HI, </span> <br />
    <span>I'M <span class="container__head--name">TAMTA</span></span> <br />
    <span id="typingText">{{ displayedText }}</span>
  </div>

  <div class="container__intro-text">
    <p>
      I focus on writing clean, efficient code and creating impactful solutions.
      With experience in dynamic, fast-paced environments, I understand how
      consistency and innovation drive meaningful results. I thrive on solving
      complex problems and am always eager to take on new challenges that foster
      collaboration and deliver value-driven outcomes.
    </p>
  </div>

  <button routerLink="projects">explore my Projects</button>

  <div class="container__contact">
    <span class="container__contact--title">Let's <span class="clr">Connect</span></span>
    <div>Don't hesitate to reach out!</div>
    @for (menu of footerMenu; track menu) {
      <app-footer-link-item
        [links]="menu.links"
        [themeMode]="currentMode$ | ngrxPush"
      />
    }
  </div>
</div>
