.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  padding: 40px 250px;
  app-project-item {
    transition: transform 0.3s ease;
  }

  app-project-item:hover {
    transform: translateY(-5px);
  }
}
@media  (max-width: 1600px) {
  .container {
    padding: 40px 160px;
  }
}

@media(max-width : 1300px){
  .container {
    padding: 20px 6px;
  }
}

