.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 40px 200px;
  app-project-item {
    transition: transform 0.3s ease;
  }

  app-project-item:hover {
    transform: translateY(-5px);
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 10px 0px;
  }
}
