html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &.dark {
    transition: background-color 0.4s ease, color 0.5s ease-in-out;
    background-color: black;
    color: #f4f4ff;
  }

  &.light {
    transition: background-color 0.4s ease, color 0.5s ease-in-out;
    background-color: #ffffff;
  }
}
