footer {
  display: block;
  height: 443px;
  display: flex;
  align-items: center;

  .left {
    display: flex;
    flex-direction: column;
    gap: 12px;

    img {
      width: 50%;
    }

    &__text {
      font-size: 50px;
    }
  }

  .center {
    display: flex;
    justify-content: space-evenly;
    gap: 72px;
  }
}
